@import 'tailwindcss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand scale */
  --color-brand-900: #03045e;
  --color-brand-700: #0077b6;
  --color-brand-500: #00b4d8;
  --color-brand-300: #90e0ef;
  --color-brand-100: #caf0f8;

  --border: #e5e7eb; /* light gray border for light theme */
  --border-strong: #cbd5e1; /* slightly darker border if needed */
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Tailwind custom color mapping */
  --color-border: var(--border);
  --color-border-strong: var(--border-strong);

  /* Tailwind color names */
  --color-brand-900: var(--color-brand-900);
  --color-brand-700: var(--color-brand-700);
  --color-brand-500: var(--color-brand-500);
  --color-brand-300: var(--color-brand-300);
  --color-brand-100: var(--color-brand-100);
  
  --color-primary: var(--color-brand-500);
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #262626;
  --border-strong: #404040;
}


body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
}
